Modal
{
    all: unset;

}

.uploading
{
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.loader
{
    width: 20rem;
    
}

.modaldiv
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.progressbar
{
    width: 100x;
    height: 5px;
    background-color: rgb(147, 197, 255);
    border-radius: 10px;
}

.loadingmessage
{
    text-align: center;
}





